<div class="text-start">
  <h1>Result</h1>
  <p><%= @result.html_safe %></p>
  <p>Your total score: <strong><%= @total_score %></strong></p>
  <!-- link to play again -->
  <a href="/games/new" class="btn btn-link" style="text-align: left; text-decoration: none; padding-left: 0; display: block;">Play again</a>
</div>
